[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pillow = "*"
rich = "*"
opencv-python-headless = "*"
pydantic = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.13"
